/* SOW Matte Theme 2.0.1 for Discord 1/12/2022 by APH */


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: Open Sans !important;
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: var(--matte-text);
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: var(--matte-color-2);
    --background-secondary: var(--matte-color-1);
    --background-secondary-alt: var(--matte-color-3);
    --background-tertiary: var(--matte-color-3);
    --background-accent: #4f545c;
    --background-floating: var(--matte-color-4);
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(11, 11, 11, .16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(11, 11, 11, .32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --scrollbar-thin-thumb: #202020;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #171717;
    --scrollbar-auto-track: #202020;
    --scrollbar-auto-scrollbar-color-thumb: #242424;
    --scrollbar-auto-scrollbar-color-track: #313131;
    --logo-primary: #fff;
    --focus-primary: #00b0f4;
    --radio-group-dot-foreground: #8ea1e1;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: var(--matte-color-1);
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
    --profile-picture-outline: #1b1b1b;
    --profile-picture-inside: #2e2e2e;
    --non-3d-button-outline: #121212;
    --non-3d-button-inside: #1c1c1c;
    --matte-color-1: #1c1c1c;
    --matte-color-2: #2e2e2e;
    --matte-color-3: #121212;
    --matte-text: #fff;
    --matte-color-4: #242424;
}


.theme-light {
    --header-primary: #060607;
    --header-secondary: #4f5660;
    --text-normal: var(--matte-text);
    --text-muted: #747f8d;
    --text-link: #0067e0;
    --channels-default: #6a7480;
    --interactive-normal: #4f5660;
    --interactive-hover: #2e3338;
    --interactive-active: #060607;
    --interactive-muted: #c7ccd1;
    --background-primary: #fff;
    --background-secondary: var(--matte-color-1);
    --background-secondary-alt: #ebedef;
    --background-tertiary: #e3e5e8;
    --background-accent: #747f8d;
    --background-floating: #fff;
    --background-mobile-primary: #f8f9f9;
    --background-mobile-secondary: #fff;
    --background-modifier-hover: rgba(116,127,141,0.08);
    --background-modifier-active: rgba(116,127,141,0.16);
    --background-modifier-selected: rgba(116,127,141,0.24);
    --background-modifier-accent: rgba(6,6,7,0.08);
    --background-mentioned: rgba(250,166,26,0.1);
    --background-mentioned-hover: rgba(250,166,26,0.2);
    --background-message-hover: rgba(6,6,7,0.02);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,103,224,0.1);
    --scrollbar-thin-thumb: rgba(79,84,92,0.3);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #ccc;
    --scrollbar-auto-track: #f2f2f2;
    --scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
    --scrollbar-auto-scrollbar-color-track: #f2f3f5;
    --logo-primary: #7289da;
    --focus-primary: #00b0f4;
    --radio-group-dot-foreground: #4e5d94;
    --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
    --channeltextarea-background: var(--matte-color-1);
    --textbox-markdown-syntax: #6a7480;
    --deprecated-card-bg: #f8f9f9;
    --deprecated-card-editable-bg: rgba(246,246,247,0.6);
    --deprecated-store-bg: #f8f9f9;
    --deprecated-quickswitcher-input-background: #fff;
    --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
    --deprecated-text-input-bg: rgba(79,84,92,0.02);
    --deprecated-text-input-border: rgba(79,84,92,0.3);
    --deprecated-text-input-border-hover: #b9bbbe;
    --deprecated-text-input-border-disabled: #dcddde;
    --deprecated-text-input-prefix: #b9bbbe;
    --profile-picture-outline: #ccc;
    --profile-picture-inside: #eaeaea;
    --non-3d-button-outline: hsl(0, 0%, 82%);
    --non-3d-button-inside: hsl(0, 0%, 95%);
    --matte-color-1: #ebebeb;
    --matte-color-2: #fff;
    --matte-color-3: #ccc;
    --matte-text: #000;
    --matte-color-4: hsl(0, 0%, 93%);
}


/* Square buttons */
.wrapper-28eC3z svg foreignObject,
.wrapper-1VLyxH mask,
.wrapper-1VLyxH foreignObject {
	mask: none;
}

.avatar-2e8lTP {
    border-radius: 0%;
    color: #000;
    background-color: var(--profile-picture-inside);
    border: 2px solid var(--profile-picture-outline);
}

.avatar-3FKimL {
    border-radius: 0%;
    color: #000;
    background-color: var(--profile-picture-inside);
    border: 2px solid var(--profile-picture-outline);
}

/* DM list */
.selected-1-Z6gm .layout-1qmrhw {
    background-color: var(--background-modifier-selected);
    border: 2px solid var(--non-3d-button-outline);
    border-radius: 0%;
}

.clickable-28SzVr:hover .layout-1qmrhw {
    background-color: var(--background-modifier-hover);
    border: 2px solid var(--non-3d-button-outline);
    border-radius: 0%;
}

.layout-1qmrhw {
    background-color: var(--non-3d-button-inside);
    border: 2px solid var(--non-3d-button-outline);
    border-radius: 0%;
}


/* Settings */
.sidebarRegionScroller-FXiQOh {
    background: var(--matte-color-1);
}

.contentRegionScroller-2_GT_N {
    background-color: var(--matte-color-2);
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: var(--background-modifier-selected);
        border: 2px solid var(--non-3d-button-outline);
}

.side-2ur1Qk .item-3XjbnG {
    border-radius: 0px;
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    background-color: var(--background-modifier-hover);
            border: 2px solid var(--non-3d-button-outline);
}

.themed-2-lozF.item-3XjbnG {
    background-color: var(--non-3d-button-inside);
        border: 2px solid var(--non-3d-button-outline);
}

.theme-light .closeButton-PCZcma {
    border-radius: 0%;
    background-image: url(https://media.discordapp.net/attachments/797622888466612254/810401035888754708/Button_48x48.png);
    background-size:cover;
    border: #fff0;
    width: 36px;
    height: 36px;
}

.theme-dark .closeButton-PCZcma {
    border-radius: 0%;
    background-image: url(https://media.discordapp.net/attachments/797622888466612254/810442460798124062/Button_48x48_dark.png);
    background-size:cover;
    border: #fff0;
    width: 36px;
    height: 36px;
}

.lookFilled-yCfaCM.colorGrey-2iAG-B {
   background-color: var(--non-3d-button-inside);
    border: 2px solid var(--non-3d-button-outline);
    color: var(--matte-text);
    border-radius: 0%;
}

.lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
   background-color: var(--background-modifier-hover);
    border: 2px solid var(--non-3d-button-outline);
    color: var(--matte-text);
    border-radius: 0%;
}

.lookFilled-yCfaCM.colorGrey-2iAG-B:active {
   background-color: var(--background-modifier-selected);
    border: 2px solid var(--non-3d-button-outline);
    color: var(--matte-text);
    border-radius: 0%;
}

.lookFilled-yCfaCM, .lookInverted-2mDUMi {
    -webkit-transition: none;
    transition: none;
}

.background-3d_SjE {
    border-radius: 0px;
    background-color: var(--background-secondary);
    padding: 16px;
    border: 2px solid var(--matte-color-3);
}

.fieldList-in8WkP {
    border-radius: 0px;
    background-color: var(--background-primary);
    border: 2px solid var(--matte-color-3);
}

/* Chat */

.scrollableContainer-15eg7h {
    background-color: var(--channeltextarea-background);
    border: 2px solid var(--matte-color-3);
    border-radius: 0px;
}

.container-ZMc96U.themed-Hp1KC_ {
    background: var(--channeltextarea-background);
}

.children-3xh0VB:after {
    display: none;
}

.imageWrapper-oMkQl4 {
    border-radius: 0px;
    border: 2px solid var(--matte-color-3);
    background: var(--matte-color-1);
}

.newMessagesBar-1hF-9G {
    border-radius: 0px;
    background-color: #7289da;
    border: 2px solid #5e71b3;    
}

.icon-2xnN2Y {
    color: var(--matte-text);
}

.clickable-ZD7xvu .icon-2xnN2Y {
    color: var(--matte-text);
    background-color: var(--non-3d-button-inside);
    border: 2px solid var(--non-3d-button-outline);
}

.root-g14mjS {
    background-color: var(--matte-color-1);
    border: 2px solid var(--matte-color-3);
    border-radius: 0px;
}

.iconActiveLarge-ac-EDu {
    border-radius: 0px;
    border: 2px solid var(--matte-color-3);
}

.wrapper-1HIH0j {
    background-color: var(--background-secondary);
    border-radius: 0px;
    border: 2px solid var(--matte-color-3);
}

.item-2idW98 {
    background-color: var(--non-3d-button-inside);
    border: 2px solid var(--non-3d-button-outline);
    color: var(--interactive-normal);
    border-radius: 0px;
}

.connection-107AGH {
    border-radius: 0px;
}

.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: var(--background-modifier-selected);
    border: 2px solid var(--non-3d-button-outline);
    border-radius: 0%;
}

.content-1gYQeQ { 
    background-color: var(--non-3d-button-inside);
    border: 2px solid var(--non-3d-button-outline);
    border-radius: 0%;
}

.wrapper-2SplAX {
    background-color: var(--channeltextarea-background);
    border: 2px solid var(--matte-color-3);
    border-radius: 0px;
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    border-radius: 0px;
    border: 2px solid rgba(0, 0, 0, .38);
}

/* Other */

.folderIconWrapper-226oVY {
    border-radius: 0px;
    overflow: hidden;
}

.theme-dark .root-g14mjS {
    background-color: var(--matte-color-1);
}

.theme-light .root-g14mjS {
    background-color: var(--matte-color-2);
}

.theme-dark .footer-31IekZ {
    background-color: var(--matte-color-1);
}

.theme-light .footer-31IekZ {
    background-color: var(--matte-color-2);
}

.iconInactive-26M06U {
    border-radius: 0%;
    border: 2px solid var(--matte-color-3);           
}

.wrapper-1VLyxH {
    border-radius: 0%;
    border: 2px solid var(--matte-color-3);   
}

.tabBar-2MuP6-, .tabBarItem-1b8RUP {
    display: revert;
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG, .top-K_jibn .themed-2-lozF.item-3XjbnG:active {
    border-bottom-color: var(--matte-color-4);
}


.tabBar-2MuP6- {
    height: 72px;
}

.root-SR8cQa {
    border-radius: 0px;
    border: 2px solid var(--matte-color-1);
}

.listScroller-2_vlfo {
    padding: 16px 0;
    height: 100%;
}

.botTagRegular-kpctgU {
    background: #e91e63;
    color: #fff;
    border: 2px solid #e91e10; 
}

.px-MnE_OR.botTag-7aX5WZ {
    border-radius: 0px;
}

.theme-dark .body-3ND3kc {
    background-color: var(--background-secondary);
}

.theme-light .body-3ND3kc {
    background-color: var(--background-primary);
}

/* Search bars */
.theme-dark .searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: var(--matte-color-4);
    border: 2px solid var(--matte-color-1);
            border-radius: 0%;
    color: var(--matte-text);
}

.theme-light .searchBar-3TnChZ .searchBarComponent-3N7dCG {
   background-color: var(--matte-color-4);
    border: 2px solid var(--non-3d-button-outline);
        border-radius: 0%;
    color: var(--matte-text);
}

.theme-dark .searchBar-zdmu7v {
    background-color: var(--matte-color-4);
    border: 2px solid var(--matte-color-1);
            border-radius: 0%;
    color: var(--matte-text);
}

.theme-light .searchBar-zdmu7v {
   background-color: var(--matte-color-4);
    border: 2px solid var(--non-3d-button-outline);
        border-radius: 0%;
    color: var(--matte-text);
}

/* Friends list */
.theme-dark .container-2cd8Mz {
    background-color: var(--matte-color-2);
}

.theme-light .container-2cd8Mz {
    background-color: var(--matte-color-2);
}

.actionButton-3-B2x- {
    border-radius: 0%;
    color: var(--matte-text);
    background-color: var(--matte-color-1);
        border: 2px solid var(--matte-color-3);
}

.topPill-3DJJNV .item-3XjbnG {
    border-radius: 0px;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: #7289da;
    border: 2px solid #5e71b3;
        border-radius: 0%;
}

/* Search */
.searchResult-O9NDji {
    background-color: var(--background-primary);
    border-radius: 0px;
    border: 2px solid var(--matte-color-3);
}

/* Video player */
.mediaBarGrabber-FvJKJg, .mediaBarProgress-38I317, .mediaBarProgress-38I317:after, .mediaBarProgress-38I317:before {
    background-color: #0066ff;
}

.audioControls-3fmemK, .videoControls-2NzHnF {
    background-color: rgba(28, 28, 28);
    border: 2px solid rgba(18, 18, 18);
}

.metadata-3IncIG {
    top: -10px;
    left: 0;
    right: 0;
    height: 60px;
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(255, 255, 255, 0)),to(rgba(0, 0, 0, .62)));
    background-image: linear-gradient(
0deg
,rgba(255, 255, 255, 0),rgba(0, 0, 0, .62));
    padding: 22px 12px 12px;
    z-index: 1;
}

.menu-1QACrS {
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    background: var(--background-floating);
    border: 2px solid rgba(18, 18, 18);
    border-radius: 0px;
}

.container-q97qHp {
    text-transform: none;
    color: var(--channels-default);
}

/* Upload modal */ 
.theme-dark .uploadModal-2ie9O_ {
    border-radius: 0px;
    border: 2px solid var(--matte-color-3);
    background: var(--matte-color-1);
}  

.theme-light .uploadModal-2ie9O_ {
    border-radius: 0px;
    border: 2px solid var(--matte-color-3);
    background: var(--matte-color-1);
}  

.theme-dark .footer-VCsJQY {
    background-color: #fff0;
}

.theme-dark .footer-VCsJQY {
    background-color: #fff0;
}

/* Better Discord title bars */
.theme-dark .titleBar-1it3bQ {
    background-image: url(https://media.discordapp.net/attachments/797622888466612254/811497933735329813/interface_dark.png?width=721&height=7);
    height: 25px;
    background-size: cover;
    border-color: #1b1b1b;
}

.theme-light .titleBar-1it3bQ {
    background-image: url(https://media.discordapp.net/attachments/797622888466612254/811499136150274108/interface.png?width=721&height=7);
    height: 25px;
    background-size: cover;
    border-top-color: #fff;
}

.da-winButtonClose, .winButtonClose-3Q8ZH5 {
    background-image: url(https://media.discordapp.net/attachments/797622888466612254/811503186522931240/stop-Default2.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 3.4px;
    top: 1px;
    left: 2px;
}

svg[name="TitleBarMaximize"], .winButtonMinMax-3RsPUg
{
    top: 0px;
    left: 2px;
}

.da-titleBar, .titleBar-1it3bQ, .headerTop-3C2Zn0
{
    margin-top: auto;
}

.profileBannerPreview-3_l0Wd {
    background-color: var(--background-floating);
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
            border: 2px solid var(--non-3d-button-outline);
}

.banner-hcPdsd {
    border-radius: 0;
    width: 100%;
}

.accountProfileCard-lbN7n- {
    border-radius: 0px;
    background-color: var(--background-secondary);
    border: 2px solid var(--matte-color-3);
}

.userPopout-2j1gM4 {
    border-radius: 0px;
    border: 2px solid var(--matte-color-3);
}

.button-f2h6uQ {
        background-color: var(--non-3d-button-inside);
        border: 2px solid var(--non-3d-button-outline);
        border-radius: 0px;
}

.container-18GwIk, .messagesPopoutWrap-3zryHW, .contentWrapper-3vHNP2 {
    background-color: var(--background-secondary);
    border-radius: 0px;

    border: 2px solid var(--matte-color-3);
}

.container-2rzKKA, .container-S9SaVf, .container-1IyjjY, .avatar-rC0Atp {
    background-color: var(--matte-color-2);
    border: 2px solid var(--matte-color-3);
    border-radius: 0px;
}

.container-2rNpDV, .swatch-3mFIiP, .feature-2IUcBI {
    border: 2px solid #00000061;
    border-radius: 0px;
}

.container-3GP6AV {
    border-radius: 0px;
}
